<nav class="page-navbar">
  <label class="navbar-toggle" for="chkToggle">
    <span class="hamburger-menu"></span>
  </label>
  <input type="checkbox" id="chkToggle"></input>
  <a href="/index.html" class="nav-links">/</a>
  <!-- <a href="/html/blog.html" class="nav-links">Blog</a> -->
  <a href="/html/work.html" class="nav-links">Work</a>
  <!-- <a href="https://old.joepickert.dev" class="nav-links">Old Portfolio</a> -->
  <a href="/html/about.html" class="nav-links">About Me</a>
  <a href="/html/contact.html" class="nav-links">Contact</a>
</nav>