---
---
* {
  box-sizing: border-box;
}

body {
  background-color: #161618;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 53px;
}

span {
  color: yellow;
  font-family: monospace;
  font-size: 2rem;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

.black-text {
  color: black;
}

.hamburger-menu {
  position: relative;
  padding-left: 1.25em;
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #161618;
  box-shadow: 
    0 0.25em 0 0 #161618,
    0 0.5em 0 0 #161618;
}

.image-thumbnail {
  height: 50px;
  margin: 6px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: #161618;
}

.logo:hover {
  color: red;
}

.container a {
  color: white;
  transition: all 0.3s ease;
}

.container a:hover {
  color: red;
}

.container a:visited {
  color: white;
}

.container li {
  font-size: 1.25rem;
  line-height: 1.5;
}

.container p {
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: column-reverse;
}

.main-nav {
  list-style-type: none;
  display: none;
  padding-left: 0px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.mt-5 {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 10%;
}

.my-5 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav-links {
  text-decoration: none;
  color: #161618;
}

.nav-links:hover {
  color: red;
}

.navbar {
  font-size: 18px;
  background-color: white;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-toggle {
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.tech-logo-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.employer-logo-image {
  width: 156px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.white-text {
  color: white;
}

.blog-image {
  max-width: 100%;
}

.homepage {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 80px;
}

.homepage__resume-blurb {
  background-color: white;
  max-width: 394px;
}

.homepage__resume-blurb-headshot-and-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage__resume-blurb-links-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%
}

.homepage__resume-blurb-core-competencies-header {
  margin: 0;
  text-align: center;
}

.homepage__resume-blurb-core-competencies {
  padding: 0 1rem;
}

.homepage__resume-blurb-headshot {
  max-width: 300px;
  text-align: center;
}

.blinker {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -5px;
  border-left: 7px solid yellow;
  animation: blinker 0.9s steps(2, start) infinite;
}

.homepage__side-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.work-experience {
  margin-top: 100px;
}


@media screen and (min-width: 768px) {
  body {
    margin-top: 70px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .row {
    flex-direction: row;
  }

  .homepage {
    flex-direction: row;
    margin-top: 150px;
    column-gap: 2rem;
  }

  .homepage__resume-blurb-headshot-and-links {
    flex-direction: row;
    padding-right: 1rem;
  }

  .homepage__resume-blurb-links-container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .homepage__resume-blurb-links-container img {
    width: 100%;
  }

  .homepage__resume-blurb-core-competencies {
    padding: 0 1rem;
  }

  .homepage__resume-blurb-core-competencies-header {
    text-align: left;
  }

  .homepage__side-text {
    display: flex;
    align-items: center;
    text-align: left;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: red;
  }
}
