body {
  background-color: #161618;

}

.main-content {
  margin-top: 53px;
}

.main-content p {
  font-weight: 500;
}

.main-content a {
  color: white;
  transition: all 0.3s ease;
}

.main-content a:visited {
  color: white;
}

.main-content a:hover {
  color: red;
}

.main-content li {
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-line {
  text-align: center;
  margin-top: 5%;
  color: white;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

ul {
  color: white
}

li {
  color: white
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  font-size: 18px;
  background-color: white;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #161618;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-content {
    margin-top: 70px;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: red;
  }
}

.hamburger-menu {
  position: relative;
  padding-left: 1.25em;
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #161618;
  box-shadow: 
    0 0.25em 0 0 #161618,
    0 0.5em 0 0 #161618;
}
